.card-hover{
    cursor: pointer;
}

.card-hover:hover{
    border-color: #1976D2 ;
}

.card.selected {
  border-color: #007bff;
  background-color: #e6f0ff;
}

.disabled-card {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none; /* disables click & hover */
  border: 2px dashed #9e9e9e !important;
}
