.carousel-img-ad {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

/* Mobile */
@media (max-width: 576px) {
  .carousel-img-ad {
    height: 90vh;
    object-fit: contain;
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 991px) {
  .carousel-img-ad {
    height: 45vh;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .carousel-img-ad {
    height: 70vh;
  }
}


.carousel-indicators {
  bottom: 10px;
}


@media (max-width: 576px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
