.row-filter {
  display: grid;
  grid-template-columns: 20% 40% 40%; /* 3 equal columns */
  gap: 10px;
  align-items: center;
}

.column-filter {
  padding: 5px;
}


.font{
  font-size: "26px";
}

@media(min-width: 568px){
  .font{
    font-size: "80px";
  }
}