.footer-logo-main {
  background: white;
  color: #1976d2;
  padding: 6px;
  font-size: 14px;
}

.footer-logo-sub {
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer-logo-main,
  .footer-logo-sub {
    font-size: 22px;
  }
}
