.row-container {
  display: grid;
  grid-template-columns: 10% 40% 50%; /* 3 equal columns */
  gap: 10px;
}

.col {
  padding: 20px;
}


.mobile-fixed-buybar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 12px;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  z-index: 9999;
}

/* Button styling */
.mobile-fixed-buybar .btn {
  height: 48px;
  font-weight: 600;
  border-radius: 8px;
}

/* iPhone safe area */
.mobile-fixed-buybar {
  padding-bottom: calc(10px + env(safe-area-inset-bottom));
}

