

.carousel-img{
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.carousel-text{
    font-size: 16px;
}

@media (max-width: 768px){
    .carousel-img {
        height: 100px;
        width: 100px;
        cursor: pointer;
    }
    .carousel-text {
        font-size: 12px;
    }
}