.order-scroll {
  max-height: 580px;
  overflow-y: auto;
}

/* Chrome, Edge, Safari */
.order-scroll::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.order-scroll {
  scrollbar-width: none;
}

/* IE / old Edge */
.order-scroll {
  -ms-overflow-style: none;
}

.order-scroll {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
