


.img-height{
    height: "420px";
    width: "100px";
}

@media (max-width: 768px) {
  .img-height {
    height: "220px";  width: "320px"
  }
  .swiper-pagination {
  position: relative !important;
  margin-top: 1px;
}
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}


.swiper-button-next,
.swiper-button-prev {
  width: 26px !important;
  height: 26px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px !important;
}


.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255,255,255,0.9);
  border-radius: 50px;
  padding: 5px;
}

/* 
.swiper-button-prev,
.swiper-button-next {
  left: 50% !important;
  transform: translateX(-50%);
} */



