


.img-height{
    height: "420px";
    width: "100px";
}

@media (max-width: 768px) {
  .img-height {
    height: "220px";  width: "320px"
  }
}

.swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}


/* .swiper {
  padding-bottom: 30px;
} */

