.section-title {
  position: relative;
  padding-bottom: 8px;
}
/* 
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80px;
  height: 4px;
  background-color: orange;
  border-radius: 2px;
} */

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50%;
  height: 4px;
  background: linear-gradient(to right, orange, #ffcc80);
  border-radius: 4px;
}
