.zoom-container {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 6px;
  cursor: zoom-in;
}

.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.zoom-container:hover .zoom-image {
  transform: scale(1.6); /* zoom level */
}

@media (max-width: 768px) {
  table {
    font-size: 12px;
  }
}

